@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* CSS HEX 
--tomato: #ff6347ff;
--baby-powder: #fbfef9ff;
--black: #000500ff;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  width: auto;
  text-align: center;
  font-size: 3em;
  color: #000500ff;
  transition: all 0.2s ease;
}
